@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-barbar-black text-white font-sans overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-oswald uppercase tracking-wider;
  }
}
